/* Fonts will be minimized by font-spider */

@font-face {
	font-family: "NotoSans";
	font-weight: 300;
	src: url(./fonts/KaiGenGothicTC-Light.ttf);
}

@font-face {
	font-family: "NotoSans";
	font-weight: 400;
	src: url(./fonts/KaiGenGothicTC-Regular.ttf);
}

@font-face {
	font-family: "NotoSans";
	font-weight: 500;
	src: url(./fonts/KaiGenGothicTC-Medium.ttf);
}

@font-face {
	font-family: "NotoSans";
	font-weight: 700;
	src: url(./fonts/KaiGenGothicTC-Bold.ttf);
}

@font-face {
	font-family: "wt005";
	src: url(./fonts/wt005.ttf);
}

/* Global */

html, body {
	height: 100%;
	margin: 0px;
	background: #FFFFFF;
}

body:not(.en-lang-ctrl) .en-lang {
	display: none;
}

body:not(.tw-lang-ctrl) .tw-lang {
	display: none;
}

.forceFont {
	font-family: 'Roboto', 'NotoSans' !important;
}

img, .unselectable {
	cursor: default;
	-webkit-user-select: none;
	 -khtml-user-select: none;
	   -moz-user-select: -moz-none;
	    -ms-user-select: none;
	        user-select: none;
}

img {
	pointer-events: none;
}


h2.title {
	width: 70%;
	margin: 0.7em auto;
	overflow: hidden;
	text-align: center;
	color: #333;
	font-size: 2.25em;
	font-weight: 300;
	line-height: 1.5em;
	letter-spacing: 0.05em;
	font-family: 'Armata', 'wt005', sans-serif;
}

h2.title::before, h2.title::after {
	content: "";
	display: inline-block;
	width: 50%;
	margin: 0 .5em 0 -55%;
	vertical-align: middle;
	border-bottom: 1px solid;
}

h2.title::after {
	margin: 0 -55% 0 .5em;
}

@media screen and (max-width: 400px) {
	h2.title {
		width: 100%;
	}
	h2.title::before, h2.title::after {
		display: none;
	}
}

/* div version for table */

.div-table {
	display: table;
}

.div-tr {
	display: table-row;
}

.div-td {
	display: table-cell;
}

/* Nav */

nav.menu {
	position: fixed;
	width: 100%;
	height: 70px;
	background: #FFFFFF;
	z-index: 10;
	border-bottom: 1px solid #E6ECF3;
}

nav.menu ul, nav.menu li {
	list-style: none;
	font-family: 'Armata', 'NotoSans', sans-serif;
}

nav.menu ul {
	max-width: 1080px;
	margin: 0 auto;
	padding-left: 20px;
}

nav.menu ul a {
	color: #888888;
	border-bottom: 10px solid transparent;
	text-decoration: none;
	padding-bottom: 1px;
}

nav.menu ul a.active {
	border-bottom: 1px solid #666666;
	-webkit-transition: all 500ms linear;
	   -moz-transition: all 500ms linear;
	    -ms-transition: all 500ms linear;
	     -o-transition: all 500ms linear;
	        transition: all 500ms linear;
}

nav.menu li {
	display: inline-block;
	font-size: 1.25em;
	line-height: 70px;
	padding-right: 35px;
}

nav.menu li.language {
	float: right;
}

.nav-padding {
	width: 100%;
	height: 70px;
}

@media screen and (max-width:720px) {
	nav.menu, .nav-padding {
		display: none;
	}
}

/* Content */

.main-content {
	width: 95%;
	max-width: 1080px;
	padding: 15px 30px;
	margin: 0 auto;
}

.main-content > section {
	margin-top: 50px;
	margin-bottom: 75px;
}

@media screen and (max-width: 960px) {
	.main-content {
		width: 90%;
		padding: 15px 15px;
	}

	.main-content > section {
		margin-top: 15px;
		margin-bottom: 15px;
	}
}

@media screen and (max-width: 400px) {
	.main-content {
		padding: 0;
	}
}

/* Photo album */

#photo-album {
	position: relative;
	width: 100%;
	height: 600px;
	border-radius: 5px;
	overflow: hidden;
}

#photo-album .photo {
	top: -100px;
	width: 100%;
	height: 600px;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}

#photo-album .mask {
	position: relative;
	top: -600px;
	width: 100%;
	height: 600px;
	box-shadow: inset 0 0 100px rgba(0, 0, 20, .7), 0 5px 15px rgba(0, 0, 0, .5);
}

@-webkit-keyframes backgroundScroll {
	0% {
		background-position: 0 0;
	} 50% {
		background-position: 100% 0;
	} 100% {
		background-position: 0 0;
	}
}
 
@keyframes backgroundScroll {
	0% {
		background-position: 0 0;
	} 50% {
		background-position: 100% 0;
	} 100% {
		background-position: 0 0;
	}
}

@media screen and (max-width: 400px) {
	#photo-album {
		height: 450px;
	}

	#photo-album .photo {
		-webkit-animation: backgroundScroll 30s linear infinite;
		        animation: backgroundScroll 30s linear infinite;
		-webkit-animation: backgroundScroll 30s ease-in-out infinite;
		        animation: backgroundScroll 30s ease-in-out infinite;
	}
}

/* About us */

#about-us {
	padding-bottom: 75px;
}

#about-us .title {
	margin-bottom: 50px;
}

#about-us .content {
	position: relative;
	color: #545454;
	text-align: left;
	font-size: 1.35em;
	font-family: 'Roboto', 'NotoSans';
	line-height: 1.65em;
	padding: 0 70px;
}

#about-us .content p {
	margin-bottom: 1.0em;
}

#about-us .content .text {
	height: 15em;
	overflow: hidden;
	-webkit-transition: height 1500ms ease;
	   -moz-transition: height 1500ms ease;
	    -ms-transition: height 1500ms ease;
	     -o-transition: height 1500ms ease;
	        transition: height 1500ms ease;
}

#about-us .content.expanded .text {
	height: auto;
}

#about-us .content .read-more-mask {
	position: absolute;
	top: 12em;
    left: 0;
    right: 0;
	width: 100%;
	height: 3em;
    background: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1));
    background:      -o-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,1));
    background:    -moz-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,1));
    background:         linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
}

#about-us .content.expanded .read-more-mask {
	display: none;
}

#about-us .content .read-more-button {
	position: relative;
	top: 1.5em;
	width: 200px;
	height: 2.0em;
	color: #FFF;
	text-align: center;
	line-height: 2.0em;
	font-family: 'NotoSans', sans-serif;
	background: #2A4492;
	margin: 0 auto;
	border-radius: 5px;
	cursor: pointer;
}

@media screen and (max-width: 400px) {
	#about-us .content {
		padding: 0 10px;
	}
}

/* News */

#news {
	text-align: center;
}

#news .container {
	display: inline-block;
	position: relative;
	width: 70%;
	height: 50px;
	font-family: 'Roboto', 'NotoSans';
	border: 2px solid rgb(215, 215, 215);
	border-radius: 5px;
	box-shadow: 4px 4px 0 rgba(215, 215, 215, .5);
	overflow: hidden;
	margin: 20px 30px;
}

#news .container .news-content {
	width: 100%;
	height: 100%;
	background-image: url(./images/profile-bg.png);
	border-radius: 5px;
}

#news .container .news-content .title {
	font-size: 1.5em;
	line-height: 1.25em;
	text-align: left;
	padding: 10px;
}

#news .container .news-content .text {
	line-height: 1.35em;
	text-align: justify;
	padding-left: 10px;
	padding-right: 10px;
}

#news .container .news-link .download {
	position: absolute;
	bottom: 0;
	right:0;
	/*width: 30%;*/
	height: 50px;
	color: #FFF;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
	text-align: right;
	text-shadow: 2px 2px 4px #000;
	line-height: 2em;
	font-size: 1.5em;
	padding-right: 6px;
	padding-left: 6px;
}

/*#news .container .news-cover {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: #AAA;
	border-radius: 5px;
	opacity: 1;
	-webkit-transition: opacity 500ms ease-in-out;
	   -moz-transition: opacity 500ms ease-in-out;
	    -ms-transition: opacity 500ms ease-in-out;
	     -o-transition: opacity 500ms ease-in-out;
	        transition: opacity 500ms ease-in-out;
	background-size: cover;
}

#news .container .news-cover:hover {
	opacity: 0;
}*/

#news a{
	color: #FFF;
	text-decoration: none;
}

@media screen and (max-width: 400px) {
	#news .container {
		width: 100%;
		height: 300%;
		margin: 20px 0;
	}
}

/* Project */

#projects .title {
	margin-bottom: 50px;
}

#projects .content {
	text-align: center;
}

#projects .content iframe {
	margin-bottom: 30px;
	border-radius: 5px;
}

#projects .content .more-video-button {
	width: 285px;
	height: 2.5em;
	color: #FFF;
	font-size: 1.25em;
	text-align: center;
	line-height: 2.5em;
	font-family: 'NotoSans', sans-serif;
	background: #2A4492;
	margin: 0 auto;
	border-radius: 5px;
	cursor: pointer;
}

#projects .content .more-video-button a {
	color: inherit;
	text-decoration: none;
}

/* Faculty */

#faculty .member {
	width: 465px;
	height: 475px;
}

#faculty .member .content {
	width: 445px;
	height: 205px;
}

#faculty .member .content .name {
	line-height: 2.05em;
	font-size: 1.35em;
}

#faculty .member .content .domain {
	width: 420px;
	height: 150px;
}

#faculty .member.active .second-page {
	-webkit-transform: scale(30);
	   -moz-transform: scale(30);
	    -ms-transform: scale(30);
	     -o-transform: scale(30);
	        transform: scale(30);
}

@media screen and (max-width: 500px) {
	#faculty .member {
		width: 265px;
		height: 475px;
	}

	#faculty .member .content {
		width: 245px;
		height: 205px;
	}

	#faculty .member .content .name {
		font-size: 1.25em;
	}

	#faculty .member .content .domain {
		width: 220px;
		height: 150px;
	}
}

/* Member */

.members {
	margin: 0px auto;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 50px;
}

.member {
	position: relative;
	display: inline-block;
	width: 265px;
	height: 385px;
	background-image: url(./images/profile-bg.png);
	font-family: 'Roboto', sans-serif;
	overflow: hidden;
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
	margin: 10px 35px 40px 35px;
}

.member .header {
	width: 100%;
	height: 50px;
	background: #2A4492;
}

.member .header .title {
	color: #FFF;
	font-family: 'Roboto', 'NotoSans', sans-serif;
	line-height: 50px;
	font-size: 1.25em;
	font-weight: 300;
}

.member .thumbnail {
	width: 100%;
	height: 200px;
}

.member .thumbnail img {
	width: 190px;
	margin-top: 10px;
	border-radius: 5px;
}

.member .content {
	width: 245px;
	height: 115px;
	background: rgba(255, 255, 255, 0.75);
	margin: 10px;
}

.member .content .name {
	color: #333;
	line-height: 1.95em;
	font-size: 1.15em;
	overflow: hidden;
}

.member .content .name::before, .member .content .name::after {
	content: "";
	display: inline-block;
	width: 50%;
	margin: 0 .5em 0 -55%;
	vertical-align: middle;
	border-bottom: 1px solid;
	border-color: #DDD;
}

.member .content .name::after {
	margin: 0 -55% 0 .5em;
}

.member .content .domain {
	position: absolute;
	width: 220px;
	height: 70px;
	color: #666;
	font-family: 'ABeeZee', sans-serif;
	line-height: 1.25em;
	text-align: left;
	padding: 0 12px;
	overflow: hidden;
}

.member .content .domain .label {
	color: #555;
	font-family: 'ABeeZee', 'NotoSans', sans-serif;
}

.member .content .domain ul {
	list-style-type: none;
	margin-left: 0.75em;
}

.member .content .domain ul li {
	margin-top: 0.35em;
	font-size: 0.85em;
}

.member .second-page {
	position: absolute;
	right: 20px;
	bottom: 20px;
	width: 45px;
	height: 45px;
	color: #FFF;
	font-size: 1.25em;
	line-height: 45px;
	opacity: 0;
	background: #2A4492;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
	border-radius: 50%;
	cursor: pointer;
	-webkit-transform: scale(0);
	   -moz-transform: scale(0);
	    -ms-transform: scale(0);
	     -o-transform: scale(0);
	        transform: scale(0);
	-webkit-transition: all 200ms ease, background 1000ms ease;
	   -moz-transition: all 200ms ease, background 1000ms ease;
	    -ms-transition: all 200ms ease, background 1000ms ease;
	     -o-transition: all 200ms ease, background 1000ms ease;
	        transition: all 200ms ease, background 1000ms ease;
}

.member.active .second-page {
	opacity: 1;
	cursor: auto;
	-webkit-transform: scale(20);
	   -moz-transform: scale(20);
	    -ms-transform: scale(20);
	     -o-transform: scale(20);
	        transform: scale(20);
	-webkit-transition: all 500ms ease, background 100ms ease;
	   -moz-transition: all 500ms ease, background 100ms ease;
	    -ms-transition: all 500ms ease, background 100ms ease;
	     -o-transition: all 500ms ease, background 100ms ease;
	        transition: all 500ms ease, background 100ms ease;
}

.member .second-page i {
	-webkit-animation: fadeInFromNone 2000ms;
	   -moz-animation: fadeInFromNone 2000ms;
	    -ms-animation: fadeInFromNone 2000ms;
	     -o-animation: fadeInFromNone 2000ms;
	        animation: fadeInFromNone 2000ms;
}

.member.active .second-page i {
	display: none;
}

.member:not(.active) .second-page:hover {
	background: #7F8EBD;
}

.member:not(.active):hover .second-page {
	opacity: 1;
	-webkit-transform: scale(1);
	   -moz-transform: scale(1);
	    -ms-transform: scale(1);
	     -o-transform: scale(1);
	        transform: scale(1);
}

.member .second-page-close {
	position: absolute;
	top: 0;
	right: 0;
	width: 45px;
	height: 45px;
	color: #FFF;
	font-size: 1.25em;
	line-height: 45px;
	border-radius: 50%;
	cursor: default;
	margin: 0 7px;
	opacity: 0;
	-webkit-transition: all 500ms ease;
	   -moz-transition: all 500ms ease;
	    -ms-transition: all 500ms ease;
	     -o-transition: all 500ms ease;
	        transition: all 500ms ease;
}

.member.active .second-page-close {
	cursor: pointer;
	opacity: 1;
}

.member .contact {
	display: none;
	position: absolute;
	top: 60%;
	left: 0;
	width: 100%;
	color: #FFF;
	opacity: 0;
	overflow: hidden;
	-webkit-animation: fadeInFromNone 2000ms;
	   -moz-animation: fadeInFromNone 2000ms;
	    -ms-animation: fadeInFromNone 2000ms;
	     -o-animation: fadeInFromNone 2000ms;
	        animation: fadeInFromNone 2000ms;
}

.member.active .contact {
	display: block;
	opacity: 1;
	top: 25%;
	-webkit-animation: fadeInFromNone 1000ms;
	   -moz-animation: fadeInFromNone 1000ms;
	    -ms-animation: fadeInFromNone 1000ms;
	     -o-animation: fadeInFromNone 1000ms;
	        animation: fadeInFromNone 1000ms;
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}

.member .contact .label {
	font-size: 1.25em;
	font-weight: 300;
	font-family: 'Roboto', 'NotoSans', sans-serif;
}

.member .contact .label:not(:first-child) {
	margin-top: 15px;
}

.member .contact .email {
	line-height: 2em;
	font-weight: 300;
}

.member .contact ul.socials {
	list-style-type: none;
	padding-top: 8px;
}

.member .contact ul.socials li {
	display: inline-block;
	width: 45px;
	height: 45px;
	color: #FFF;
	font-size: 1.25em;
	line-height: 45px;
	border-radius: 50%;
	margin: 0 7px 7px 7px;
}

.member .contact ul.socials li.facebook {
	background: rgba(59, 89, 152, 0.75);
}

.member .contact ul.socials li.facebook:hover {
	background: rgba(59, 89, 152, 1);
}

.member .contact ul.socials li.google {
	background: rgba(221, 75, 57, 0.75);
}

.member .contact ul.socials li.google:hover {
	background: rgba(221, 75, 57, 1);
}

.member .contact ul.socials li.twitter {
	background: rgba(0, 172, 238, 0.75);
}

.member .contact ul.socials li.twitter:hover {
	background: rgba(0, 172, 238, 1);
}

.member .contact ul.socials li.website {
	background: rgba(75, 75, 75, 0.75);
}

.member .contact ul.socials li.website:hover {
	background: rgba(75, 75, 75, 1);
}

.member .since {
	display: none;
	position: absolute;
	top: 120%;
	left: 0;
	width: 100%;
	color: #FFF;
	font-family: 'Roboto', 'NotoSans', sans-serif;
	font-weight: 300;
	opacity: 0;
	overflow: hidden;
	-webkit-animation: fadeInFromNone 2000ms;
	   -moz-animation: fadeInFromNone 2000ms;
	    -ms-animation: fadeInFromNone 2000ms;
	     -o-animation: fadeInFromNone 2000ms;
	        animation: fadeInFromNone 2000ms;
}

.member.active .since {
	display: block;
	opacity: 1;
	top: 85%;
	-webkit-animation: fadeInFromNone 1000ms;
	   -moz-animation: fadeInFromNone 1000ms;
	    -ms-animation: fadeInFromNone 1000ms;
	     -o-animation: fadeInFromNone 1000ms;
	        animation: fadeInFromNone 1000ms;
}

@media screen and (max-width: 760px) {
	.member {
		margin: 10px 15px 40px 15px;
	}
}

@media screen and (max-width: 400px) {
	.member {
		margin: 10px 10px 40px 10px;
	}
}

/* Map */

#map {
	margin-bottom: 50px;
}

#map i {
	font-size: 1.25em;
	padding-right: 8px;
}

#map .overlay {
	position: relative; 
	width: 100%;
	height: 300px;
	top: 300px;
	margin-top: -300px;
	background: transparent;
}

#map .google-maps {
	display: inline-block;
	width: 65%;
}

#map .google-maps iframe {
	height: 300px;
	width: 100%;
	border: 0;
	border-radius: 5px;
}

#map .information {
	float: right;
	width: 35%;
	height: 100%;
	text-align: justify;
	padding: 30px 25px;
	box-sizing: border-box;
}

#map .school {
	color: #333;
	font-size: 1.85em;
	text-align: right;
	line-height: 1.15em;
}

#map .school .sub {
	font-size: 0.85em;
}

#map .address, #map .telephone {
	color: #333;
	line-height: 1.2em;
	font-size: 1.25em;
	padding: 5px auto;
	-webkit-transition: all 750ms ease;
	   -moz-transition: all 750ms ease;
	    -ms-transition: all 750ms ease;
	     -o-transition: all 750ms ease;
	        transition: all 750ms ease;
}

#map .address:hover, #map .telephone:hover {
	color: #F33;
}

#map .div-td {
	padding-top: 12px;
	padding-bottom: 8px;
}

@media screen and (max-width: 960px) {
	#map .google-maps {
		display: block;
		width: 100%;
	}

	#map .information {
		float: none;
		width: 100%;
		padding: 30px 10px;
	}

	#map .information .div-table {
		width: 100%;
	}
}

@media screen and (max-width: 400px) {
	#map .school {
		font-size: 1.75em;
	}
}

/* Footer */

footer {
	min-height: 80px;
	text-align: center;
	background: #333;
	margin-top: 85px;
	font-family: 'Pontano Sans', sans-serif;
}

footer .copyright {
	color: #EEE;
	font-size: 1.15em;
	line-height: 2em;
	padding: 15px 3px 0 3px;
}

footer .designer {
	color: #888;
	font-size: 0.85em;
	line-height: 1.25em;
	padding-bottom: 25px;
}

@media screen and (max-width: 400px) {
	footer .copyright {
		font-size: 1.15em;
		line-height: 1.5em;
		padding-bottom: 10px;
	}
}

/* Extended file - graduation documents */

.graduations {
	margin: 0px auto;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 15px;
}

.graduation {
	position: relative;
	display: inline-block;
	width: 265px;
	height: 175px;
	background-image: url(./images/profile-bg.png);
	font-family: 'Roboto', sans-serif;
	overflow: hidden;
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
	margin: 10px 10px 40px 10px;
}

.graduation .header {
	width: 100%;
	height: 50px;
	background: #2A4492;
}

.graduation .header .title {
	color: #FFF;
	font-family: 'Roboto', 'NotoSans', sans-serif;
	line-height: 50px;
	font-size: 1.25em;
	font-weight: 300;
}

.graduation .content {
	width: 245px;
	height: 105px;
	background: rgba(255, 255, 255, 0.75);
	margin: 10px;
}

.graduation .content .name {
	color: #333;
	line-height: 1.95em;
	font-size: 1.15em;
	overflow: hidden;
}

.graduation .content .name::before, .graduation .content .name::after {
	content: "";
	display: inline-block;
	width: 50%;
	margin: 0 .5em 0 -55%;
	vertical-align: middle;
	border-bottom: 1px solid;
	border-color: #DDD;
}

.graduation .content .name::after {
	margin: 0 -55% 0 .5em;
}

.graduation .content .id {
	color: #777;
	line-height: 1.75em;
	font-size: 1.05em;
	overflow: hidden;
}

.graduation .content ul.files {
	list-style-type: none;
	padding: 8px 16px 8px 16px;
}

.graduation .content ul.files li {
	display: inline-block;
	color: #000;
	font-size: 1.00em;
	line-height: 15px;
	border-radius: 50%;
	margin-bottom: 0.25em;
}
